# Tarea: Aprendiendo MariaDB
### Presentado por: Miguel De Souza
### Repositorio: https://github.com/omegaeducation/hwLinearReg

## Chapter 1: Introduction

El libro no deja ejercicios y solo habla un poco sobre el origen de MySQL y donde conseguir material relacionado con MySQL y MariaDB como:
https://mariadb.com/kb/en/documentation/ - 
https://dev.mysql.com/doc/ - 
https://www.oreilly.com/library/view/mysql-in-a/9780596514334/ - 
http://mysqlresources.com/

## Chapter 2: Installing MySQL and MariaDB

Instalación a través de la terminal:

<img src="hwMariaDb.png">

#### Setting Initial Password for root: 
mysqladmin -u root -p flush-privileges password "new_pwd"

In [13]:
#seeing users
SELECT User,Host FROM mysql.user;

User,Host
asus,localhost
mariadb.sys,localhost
mysql,localhost
root,localhost

#### Creating an user:
mysql -u root -p -e "GRANT USAGE ON \*.* TO 'user' IDENTIFIED BY 'password"
#### to give a user all privileges, replace SELECT with ALL:
mysql -u root -p -e "GRANT ALL ON *.* TO 'user'@'localhost';"

## Chapter 3. The Basics and the mysql Client

#### Connecting to the Server: (on command line)
mysql -u user -p

#### Comandos de ayuda estando adentro de MariaDB: 
help - help contents - help Data Manipulation - help SHOW DATABASES

#### Starting to Explore Databases:

In [8]:
#pg 62
show databases;

Database
GRUPOS
information_schema
mysql
performance_schema
sakila
test

Creating test database and the 1st table on it (pg63):

In [10]:
create table test.books (book_id INT, title TEXT, status INT);

In [12]:
show tables from test;

Tables_in_test
books

In [2]:
use test;

In [20]:
show tables;

Tables_in_test
books

In [21]:
describe books;

Field,Type,Null,Key,Default,Extra
book_id,int(11),YES,,NULL,
title,text,YES,,NULL,
status,int(11),YES,,NULL,

### Inserting and Manipulating Data - 64

In [23]:
insert into books values (100, 'Heart of Darkness', 0);
insert into books values (101, 'The Catcher of the Rye', 1);
insert into books values (102, 'My Antonia', 0);

In [42]:
select * from books; 
select * from books where status = 1;
#test comment;

book_id,title,status
100,Heart of Darkness,0
101,The Catcher of the Rye,1
102,My Antonia,0
book_id,title,status
101,The Catcher of the Rye,1

In [47]:
#\g doesnt work - pg 65
select * from books where status = 0 \g

Your SQL code doesn't end with delimiter `;`

In [48]:
#p 66
update books set status = 1 where book_id = 102;

In [50]:
select * from books where status = 1;

book_id,title,status
101,The Catcher of the Rye,1
102,My Antonia,1

In [51]:
update books set status = 0 where book_id=101;
select * from books where status = 0;

book_id,title,status
100,Heart of Darkness,0
101,The Catcher of the Rye,0

### A Little Complexity

In [79]:
#p 67
create table status_names(status_id INT, status_name CHAR(8));
insert into status_names values (0, "Inactive"), (1,"Active");

In [74]:
show tables; #delete "show_name";
#drop table status_names;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'status_names' at line 1
<TABLE BORDER=1><TR><TH>Tables_in_test</TH></TR><TR><TD>books</TD></TR><TR><TD>status_name</TD></TR><TR><TD>status_names</TD></TR></TABLE>(B(B

In [9]:
select * from status_names;

status_id,status_name
0,Inactive
1,Active

In [84]:
#+/- reemplazando status de books por status_name 
select book_id, title, status_name
from books join status_names
where status = status_id;

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The Catcher of the Rye,Inactive
102,My Antonia,Active

Se tiene. Base de datos:
 - test. Tablas (entidades):
     - books: book_id (INT), title(TEXT), status (INT).
     - status_names: status_id (INT), status name (CHAR)

In [14]:
#summary p67
show tables;
describe books;
describe status_names;
select * from books;
select * from status_names;

## Chapter 4. Creating Databases and Tables p75

### Creating a Database p76

In [11]:
create database rookery;

In [12]:
Drop database rookery;

In [13]:
create database rookery
character set latin1
collate latin1_bin;

In [14]:
show databases;

Database
GRUPOS
information_schema
mysql
performance_schema
rookery
sakila
test

In [14]:
use rookery;

### Creating Tables p78

In [16]:
create table birds(
bird_id int auto_increment primary key,
scientific_name varchar(255) unique,
common_name varchar(50),
family_id int, 
description text);

In [17]:
describe birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

### Inserting Data p81

In [24]:
insert into birds(scientific_name, common_name)
values ('Charadrius vociferus', 'Killdeer'),
('Gavia immer', 'Great Northern Loon'),
('Aix sponsa', 'Wood Duck'),
('Chordeiles minor', 'Common Nighthawk'),
('Sitta carolinensis', 'White-breasted Nuthatch'),
('Apteryx mantelli', 'North Island Brown Kiwi');

Duplicate entry 'Charadrius vociferus' for key 'scientific_name'
(B(B

In [25]:
select * from birds;

bird_id,scientific_name,common_name,family_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [26]:
create database birdwatchers;

create table birdwatchers.humans
(human_id int auto_increment primary key,
 formal_title varchar(25),
 name_first varchar(25),
 name_last varchar(25),
 email_address varchar(255));

In [28]:
#pg 81
insert into birdwatchers.humans
(formal_title, name_first, name_last, email_address)
values
('Mr.', 'Russell', 'Dyer', 'russell@mysqlresources.com'),
('Mr.', 'Richard', 'Stringer', 'richard@mysqlresources.com'),
('Ms.', 'Rusty', 'Osborne', 'rusty@mysqlresources.com'),
('Ms.', 'Lexi', 'Hollar', 'alexandra@mysqlresources.com');

### More Perspectives on Tables p83

In [30]:
create table bird_families(
family_id int auto_increment primary key,
scientific_name varchar(255) unique,
brief_description varchar(255));

In [32]:
create table bird_orders(
order_id int auto_increment primary key,
scientific_name varchar(255) unique,
brief_description varchar(255),
order_image BLOB
) default charset=utf8 collate=utf8_general_ci;

Table 'bird_orders' already exists
(B(B

### Chapter 5. Altering Tables p90

In [2]:
use rookery;

In [4]:
alter table bird_families
add column order_id INT;

In [10]:
describe bird_families;

Field,Type,Null,Key,Default,Extra
family_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_id,int(11),YES,,NULL,

In [11]:
create table test.birds_new like birds;

In [15]:
use test
describe birds_new;
show tables;

In [16]:
insert into birds_new
select * from rookery.birds;

In [22]:
select * from birds_new;
select * from rookery.birds;

bird_id,scientific_name,common_name,family_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL
bird_id,scientific_name,common_name,family_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [23]:
create table birds_new_alternative
select * from rookery.birds;

In [24]:
drop table birds_new_alternative;

In [25]:
alter table birds_new
add column wing_id char(2);
describe birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,
wing_id,char(2),YES,,NULL,

In [26]:
#p95
alter table birds_new
drop column wing_id;
describe birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [28]:
Alter table birds_new
add column wing_id Char(2) after family_id;

In [29]:
describe birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [33]:
alter table birds_new
add column body_id char(2) after wing_id,
add column bill_id char(2) after body_id,
add column endangered BIT DEFAULT b'1' after bill_id,
change column common_name common_name varchar(255);

In [34]:
describe birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
family_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
endangered,bit(1),YES,,b'1',
description,text,YES,,NULL,

In [36]:
update birds_new SET endangered = 0
where bird_id in(1,2,4,5);

In [38]:
select bird_id, scientific_name, common_name
from birds_new
where endangered;

bird_id,scientific_name,common_name
3,Aix sponsa,Wood Duck
6,Apteryx mantelli,North Island Brown Kiwi

In [42]:
#endangered doesnt appear
select * from birds_new
where not endangered;

bird_id,scientific_name,common_name,family_id,wing_id,body_id,bill_id,endangered,description
1,Charadrius vociferus,Killdeer,NULL,NULL,NULL,NULL,,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL,NULL,NULL,,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL,NULL,NULL,,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL,NULL,NULL,,NULL

In [53]:
ALTER TABLE birds_new
MODIFY COLUMN endangered
ENUM('Extinct',
    'Extinct in Wild',
    'Threatened - Critically Endangered',
    'Threatened - Endangered',
    'Threatened - Vulnerable',
    'Lower Risk - Conservation Dependent',
    'Lower Risk - Near Threatened',
    'Lower Risk - Least Concern')
AFTER family_id;

Data truncated for column 'endangered' at row 1
(B(B

In [54]:
alter table birds_new
drop column endangered;

In [56]:
alter table birds_new
add column endangered ENUM('Extinct',
    'Extinct in Wild',
    'Threatened - Critically Endangered',
    'Threatened - Endangered',
    'Threatened - Vulnerable',
    'Lower Risk - Conservation Dependent',
    'Lower Risk - Near Threatened',
    'Lower Risk - Least Concern')
AFTER family_id;

In [57]:
select * from birds_new;

bird_id,scientific_name,common_name,family_id,endangered,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL,NULL,NULL,NULL,NULL

In [58]:
show columns from birds_new like 'endangered';

Field,Type,Null,Key,Default,Extra
endangered,"enum('Extinct','Extinct in Wild','Threatened - Critically Endangered','Threatened - Endangered','Threatened - Vulnerable','Lower Risk - Conservation Dependent','Lower Risk - Near Threatened','Lower Risk - Least Concern')",YES,,NULL,

In [61]:
update birds_new
set endangered=7;
select * from birds_new;

bird_id,scientific_name,common_name,family_id,endangered,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL

In [63]:
update birds_new
set endangered=1 where bird_id in (1,2);
select * from birds_new;

bird_id,scientific_name,common_name,family_id,endangered,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,Extinct,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,Extinct,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL

### Dynamic Columns p98

In [11]:
use birdwatchers;

create table surveys
(survey_id int auto_increment key,
survey_name varchar(255));

create table survey_questions
(question_id int auto_increment key,
survey_id int,
question varchar (255),
choices blob);

create table survey_answers
(answer_id int auto_increment key,
human_id int,
question_id int,
date_answered datetime,
answer varchar(255));

Table 'surveys' already exists
ERROR 1050 (42S01) at line 7 in file: '/home/asus/Big Data Métodos Intensivos/my scripts/.mariadb_statement': Table 'survey_questions' already exists
ERROR 1050 (42S01) at line 13 in file: '/home/asus/Big Data Métodos Intensivos/my scripts/.mariadb_statement': Table 'survey_answers' already exists
(B(B(B(B(B(B

In [ ]:
select * from survey_questions;

In [13]:
insert into surveys (survey_name)
values("Favorite Birding Location");

insert into survey_questions
(survey_id, question, choices)
values(LAST_INSERT_ID(),
"What's your favorite setting for bird-watching?",
COLUMN_CREATE('1', 'forest', '2', 'shore', '3', 'backyard'));

insert into surveys(survey_name)
values("Preferred Birds");

insert into survey_questions
(survey_id, question, choices)
values(LAST_INSERT_ID(),
"Which type of birds do you like best?",
COLUMN_CREATE('1', 'perching', '2', 'shore', '3', 'fowl', '4', 'rapture'));

In [109]:
select column_get(choices, 4 as char)
as 'Location'
from survey_questions
where survey_id=1;

Location
NULL

In [101]:
drop tables surveys;
drop tables survey_questions;
drop tables survey_answers;

In [105]:
select * from surveys;

survey_id,survey_name
1,Favorite Birding Location
2,Preferred Birds

## Optional Changes p 102

In [1]:
CREATE TABLE rookery.conservation_status
(status_id INT AUTO_INCREMENT PRIMARY KEY,
conservation_category CHAR(10),
conservation_state CHAR(25) );

In [3]:
INSERT INTO rookery.conservation_status
(conservation_category, conservation_state)
VALUES('Extinct','Extinct'),
('Extinct','Extinct in Wild'),
('Threatened','Critically Endangered'),
('Threatened','Endangered'),
('Threatened','Vulnerable'),
('Lower Risk','Conservation Dependent'),
('Lower Risk','Near Threatened'),
('Lower Risk','Least Concern');

In [9]:
SELECT * FROM rookery.conservation_status;

status_id,conservation_category,conservation_state
1,Extinct,Extinct
2,Extinct,Extinct in Wild
3,Threatened,Critically Endangered
4,Threatened,Endangered
5,Threatened,Vulnerable
6,Lower Risk,Conservation Dependent
7,Lower Risk,Near Threatened
8,Lower Risk,Least Concern

In [21]:
#use birdwatchers;
ALTER TABLE birds_new
CHANGE COLUMN endangered conservation_status_id INT DEFAULT 8;

Unknown column 'endangered' in 'birds_new'
(B(B

In [25]:
use test;
select * from birds_new;
#show tables;

bird_id,scientific_name,common_name,family_id,conservation_status_id,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,1,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,1,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,7,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,7,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,7,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,7,NULL,NULL,NULL,NULL

In [26]:
ALTER TABLE birds_new
ALTER conservation_status_id SET DEFAULT 7;

In [27]:
SHOW COLUMNS FROM birds_new LIKE 'conservation_status_id';

Field,Type,Null,Key,Default,Extra
conservation_status_id,int(11),YES,,7,

In [28]:
ALTER TABLE birds_new
ALTER conservation_status_id DROP DEFAULT;

In [29]:
select * from birds_new;

bird_id,scientific_name,common_name,family_id,conservation_status_id,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,1,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,1,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,7,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,7,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,7,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,7,NULL,NULL,NULL,NULL

In [30]:
SHOW COLUMNS FROM birds_new LIKE 'conservation_status_id';

Field,Type,Null,Key,Default,Extra
conservation_status_id,int(11),YES,,NULL,

### Setting the Value of AUTO_INCREMENT p104

In [31]:
SELECT auto_increment
FROM information_schema.tables
WHERE table_name = 'birds';

auto_increment
20

In [32]:
USE rookery
ALTER TABLE birds
AUTO_INCREMENT = 10;

### Another Method to Alter and Create a Table

In [33]:
CREATE TABLE birds_new LIKE birds;

In [36]:
DESCRIBE birds;
DESCRIBE birds_new;
SELECT * FROM birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,
Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [38]:
SELECT * FROM birds;

bird_id,scientific_name,common_name,family_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [39]:
SHOW CREATE TABLE birds;

Table,Create Table
birds,"CREATE TABLE `birds` ( `bird_id` int(11) NOT NULL AUTO_INCREMENT, `scientific_name` varchar(255) COLLATE latin1_bin DEFAULT NULL, `common_name` varchar(50) COLLATE latin1_bin DEFAULT NULL, `family_id` int(11) DEFAULT NULL, `description` text COLLATE latin1_bin DEFAULT NULL, PRIMARY KEY (`bird_id`), UNIQUE KEY `scientific_name` (`scientific_name`) ) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1 COLLATE=latin1_bin"

In [40]:
ALTER TABLE birds_new
AUTO_INCREMENT = 6;

In [41]:
CREATE TABLE birds_details
SELECT bird_id, description
FROM birds;

In [42]:
DESCRIBE birds_details;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,,0,
description,text,YES,,NULL,

In [46]:
ALTER TABLE birds
DROP COLUMN description;

Can't DROP COLUMN `description`; check that it exists
(B(B

In [48]:
DESCRIBE birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,

### Renaming a Table p107

In [49]:
RENAME TABLE table1_altered
TO table1;

Table 'rookery.table1_altered' doesn't exist
(B(B

In [50]:
RENAME TABLE rookery.birds TO rookery.birds_old,
test.birds_new TO rookery.birds;

In [51]:
SHOW TABLES IN rookery LIKE 'birds%';

Tables_in_rookery (birds%)
birds
birds_details
birds_new
birds_old

In [52]:
DROP TABLE birds_old;

In [53]:
SHOW TABLES IN rookery LIKE 'birds%';

Tables_in_rookery (birds%)
birds
birds_details
birds_new

### Reordering a Table p108

In [54]:
SELECT * FROM country_codes
LIMIT 5;

Table 'rookery.country_codes' doesn't exist
(B(B

In [55]:
ALTER TABLE country_codes
ORDER BY country_code;

Table 'rookery.country_codes' doesn't exist
(B(B

In [56]:
SELECT * FROM
country_codes LIMIT 5;

Table 'rookery.country_codes' doesn't exist
(B(B

In [57]:
SELECT * FROM country_codes
ORDER BY country_name
LIMIT 5;

Table 'rookery.country_codes' doesn't exist
(B(B

### Indexes p110

In [61]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
birds_details
birds_new
conservation_status

In [62]:
ALTER TABLE conservation_status
CHANGE status_id conservation_status_id INT AUTO_INCREMENT PRIMARY KEY;

Multiple primary key defined
(B(B

In [64]:
describe conservation_status;

Field,Type,Null,Key,Default,Extra
status_id,int(11),NO,PRI,NULL,auto_increment
conservation_category,char(10),YES,,NULL,
conservation_state,char(25),YES,,NULL,

In [63]:
SHOW INDEX FROM birdwatchers.humans;

Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
humans,0,PRIMARY,1,human_id,A,4,NULL,NULL,,BTREE,,

In [65]:
EXPLAIN SELECT * FROM birdwatchers.humans
WHERE name_last = 'Hollar';

id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
1,SIMPLE,humans,ALL,NULL,NULL,NULL,NULL,4,Using where

In [66]:
ALTER TABLE birdwatchers.humans
ADD INDEX human_names (name_last, name_first);

In [67]:
SHOW CREATE TABLE birdwatchers.humans;

Table,Create Table
humans,"CREATE TABLE `humans` ( `human_id` int(11) NOT NULL AUTO_INCREMENT, `formal_title` varchar(25) DEFAULT NULL, `name_first` varchar(25) DEFAULT NULL, `name_last` varchar(25) DEFAULT NULL, `email_address` varchar(255) DEFAULT NULL, PRIMARY KEY (`human_id`), KEY `human_names` (`name_last`,`name_first`) ) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4"

In [69]:
SHOW INDEX FROM birdwatchers.humans
WHERE Key_name = 'human_names';

Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
humans,1,human_names,1,name_last,A,4,NULL,NULL,YES,BTREE,,
humans,1,human_names,2,name_first,A,4,NULL,NULL,YES,BTREE,,

In [70]:
EXPLAIN SELECT * FROM birdwatchers.humans
WHERE name_last = 'Hollar';

id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
1,SIMPLE,humans,ref,human_names,human_names,103,const,1,Using index condition

In [71]:
ALTER TABLE conservation_status
DROP PRIMARY KEY,
CHANGE status_id conservation_status_id INT PRIMARY KEY AUTO_INCREMENT;

### Part III. Basics of Handling Data p118

# Chapter 6. Inserting Data

In [77]:
use test;
show tables;
select * from books;

In [78]:
INSERT INTO books
VALUES('The Big Sleep', 'Raymond Chandler', '1934');

Incorrect integer value: 'The Big Sleep' for column `test`.`books`.`book_id` at row 1
(B(B

In [79]:
INSERT INTO books
VALUES('The Thirty-Nine Steps', 'John Buchan', DEFAULT);

Incorrect integer value: 'The Thirty-Nine Steps' for column `test`.`books`.`book_id` at row 1
(B(B

In [80]:
INSERT INTO books
(author, title)
VALUES('Evelyn Waugh','Brideshead Revisited');

Unknown column 'author' in 'field list'
(B(B

In [81]:
INSERT INTO books
(title, author, year)
VALUES('Visitation of Spirits','Randall Kenan','1989'),
('Heart of Darkness','Joseph Conrad','1902'),
('The Idiot','Fyodor Dostoevsky','1871');

Unknown column 'author' in 'field list'
(B(B

### Practical Examples p123

In [83]:
use rookery;
DESCRIBE bird_orders;

Field,Type,Null,Key,Default,Extra
order_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_image,blob,YES,,NULL,

In [84]:
ALTER TABLE bird_orders
AUTO_INCREMENT = 100;

In [85]:
INSERT INTO bird_orders (scientific_name, brief_description)
VALUES('Anseriformes', "Waterfowl"),
('Galliformes', "Fowl"),
('Charadriiformes', "Gulls, Button Quails, Plovers"),
('Gaviiformes', "Loons"),
('Podicipediformes', "Grebes"),
('Procellariiformes', "Albatrosses, Petrels"),
('Sphenisciformes', "Penguins"),
('Pelecaniformes', "Pelicans"),
('Phaethontiformes', "Tropicbirds"),
('Ciconiiformes', "Storks"),
('Cathartiformes', "New-World Vultures"),
('Phoenicopteriformes', "Flamingos"),
('Falconiformes', "Falcons, Eagles, Hawks"),
('Gruiformes', "Cranes"),
('Pteroclidiformes', "Sandgrouse"),
('Columbiformes', "Doves and Pigeons"),
('Psittaciformes', "Parrots"),
('Cuculiformes', "Cuckoos and Turacos"),
('Opisthocomiformes', "Hoatzin"),
('Strigiformes', "Owls"),
('Struthioniformes', "Ostriches, Emus, Kiwis"),
('Tinamiformes', "Tinamous"),
('Caprimulgiformes', "Nightjars"),
('Apodiformes', "Swifts and Hummingbirds"),
('Coraciiformes', "Kingfishers"),
('Piciformes', "Woodpeckers"),
('Trogoniformes', "Trogons"),
('Coliiformes', "Mousebirds"),
('Passeriformes', "Passerines");

In [86]:
DESCRIBE bird_families;

Field,Type,Null,Key,Default,Extra
family_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_id,int(11),YES,,NULL,

In [87]:
SELECT order_id FROM bird_orders
WHERE scientific_name = 'Gaviiformes';

order_id
103

In [88]:
INSERT INTO bird_families
VALUES(100, 'Gaviidae',
"Loons or divers are aquatic birds found mainly in the Northern Hemisphere.",
103);

In [89]:
INSERT INTO bird_families
VALUES('Anatidae', "This family includes ducks, geese and swans.", NULL, 103);

Incorrect integer value: 'Anatidae' for column `rookery`.`bird_families`.`family_id` at row 1
(B(B

In [90]:
SHOW WARNINGS;

Level,Code,Message
Error,1366,Incorrect integer value: 'Anatidae' for column `rookery`.`bird_families`.`family_id` at row 1

In [91]:
SELECT * FROM bird_families;

family_id,scientific_name,brief_description,order_id
100,Gaviidae,Loons or divers are aquatic birds found mainly in the Northern Hemisphere.,103

In [92]:
DELETE FROM bird_families
WHERE family_id = 101;

In [93]:
INSERT INTO bird_families
(scientific_name, order_id, brief_description)
VALUES('Anatidae', 103, "This family includes ducks, geese and swans.");

In [94]:
SELECT * FROM bird_families;

family_id,scientific_name,brief_description,order_id
100,Gaviidae,Loons or divers are aquatic birds found mainly in the Northern Hemisphere.,103
101,Anatidae,"This family includes ducks, geese and swans.",103

In [95]:
SELECT order_id, scientific_name FROM bird_orders;

order_id,scientific_name
100,Anseriformes
123,Apodiformes
122,Caprimulgiformes
110,Cathartiformes
102,Charadriiformes
109,Ciconiiformes
127,Coliiformes
115,Columbiformes
124,Coraciiformes
117,Cuculiformes
112,Falconiformes
101,Galliformes
103,Gaviiformes
113,Gruiformes
118,Opisthocomiformes
128,Passeriformes
107,Pelecaniformes
108,Phaethontiformes
111,Phoenicopteriformes
125,Piciformes
104,Podicipediformes
105,Procellariiformes
116,Psittaciformes
114,Pteroclidiformes
106,Sphenisciformes
119,Strigiformes
120,Struthioniformes
121,Tinamiformes
126,Trogoniformes

In [96]:
INSERT INTO bird_families
(scientific_name, order_id)
VALUES('Charadriidae', 109),
('Laridae', 102),
('Sternidae', 102),
('Caprimulgidae', 122),
('Sittidae', 128),
('Picidae', 125),
('Accipitridae', 112),
('Tyrannidae', 128),
('Formicariidae', 128),
('Laniidae', 128);

In [97]:
SELECT family_id, scientific_name
FROM bird_families
ORDER BY scientific_name;

family_id,scientific_name
108,Accipitridae
101,Anatidae
105,Caprimulgidae
102,Charadriidae
110,Formicariidae
100,Gaviidae
111,Laniidae
103,Laridae
107,Picidae
106,Sittidae
104,Sternidae
109,Tyrannidae

In [98]:
SHOW COLUMNS FROM birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
family_id,int(11),YES,,NULL,
conservation_status_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [99]:
SHOW COLUMNS FROM birds LIKE '%id';

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
family_id,int(11),YES,,NULL,
conservation_status_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,

### The Table for Birds p129

In [1]:
use rookery;

In [2]:
INSERT INTO birds
(common_name, scientific_name, family_id)
VALUES('Mountain Plover', 'Charadrius montanus', 103);

Field 'conservation_status_id' doesn't have a default value
(B(B

In [3]:
INSERT INTO birds
(common_name, scientific_name, family_id)
VALUES('Snowy Plover', 'Charadrius alexandrinus', 103),
('Black-bellied Plover', 'Pluvialis squatarola', 103),
('Pacific Golden Plover', 'Pluvialis fulva', 103);

Field 'conservation_status_id' doesn't have a default value
(B(B

In [4]:
SELECT common_name AS 'Bird',
birds.scientific_name AS 'Scientific Name',
bird_families.scientific_name AS 'Family',
bird_orders.scientific_name AS 'Order'
FROM birds,
bird_families,
bird_orders
WHERE birds.family_id = bird_families.family_id
AND bird_families.order_id = bird_orders.order_id;

In [6]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
birds_details
birds_new
conservation_status

## Other Possibilities p132

In [8]:
INSERT INTO bird_families
SET scientific_name = 'Rallidae',
order_id = 113;

In [11]:
describe bird_families;

Field,Type,Null,Key,Default,Extra
family_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_id,int(11),YES,,NULL,

In [12]:
DESCRIBE cornell_birds_families_orders;

Table 'rookery.cornell_birds_families_orders' doesn't exist
(B(B

In [13]:
ALTER TABLE bird_families
ADD COLUMN cornell_bird_order VARCHAR(255);

In [14]:
INSERT IGNORE INTO bird_families
(scientific_name, brief_description, cornell_bird_order)
SELECT bird_family, examples, bird_order
FROM cornell_birds_families_orders;

Table 'rookery.cornell_birds_families_orders' doesn't exist
(B(B

In [15]:
SELECT family_id, scientific_name, brief_description
FROM bird_families
WHERE order_id IS NULL;

In [16]:
UPDATE bird_families
SET order_id = 112
WHERE cornell_bird_order = 'Accipitriformes';

## Replacing Data p136

In [18]:
REPLACE INTO bird_families
(scientific_name, brief_description, order_id)
VALUES('Viduidae', 'Indigobirds & Whydahs', 128),
('Estrildidae', 'Waxbills, Weaver Finches, & Allies', 128),
('Ploceidae', 'Weavers, Malimbe, & Bishops', 128);

In [19]:
SELECT * FROM bird_families
WHERE scientific_name = 'Viduidae';

family_id,scientific_name,brief_description,order_id,cornell_bird_order
113,Viduidae,Indigobirds & Whydahs,128,NULL

In [20]:
SELECT * FROM bird_families;

family_id,scientific_name,brief_description,order_id,cornell_bird_order
100,Gaviidae,Loons or divers are aquatic birds found mainly in the Northern Hemisphere.,103,NULL
101,Anatidae,"This family includes ducks, geese and swans.",103,NULL
102,Charadriidae,NULL,109,NULL
103,Laridae,NULL,102,NULL
104,Sternidae,NULL,102,NULL
105,Caprimulgidae,NULL,122,NULL
106,Sittidae,NULL,128,NULL
107,Picidae,NULL,125,NULL
108,Accipitridae,NULL,112,NULL
109,Tyrannidae,NULL,128,NULL
110,Formicariidae,NULL,128,NULL
111,Laniidae,NULL,128,NULL
112,Rallidae,NULL,113,NULL
113,Viduidae,Indigobirds & Whydahs,128,NULL
114,Estrildidae,"Waxbills, Weaver Finches, & Allies",128,NULL
115,Ploceidae,"Weavers, Malimbe, & Bishops",128,NULL

In [21]:
INSERT LOW_PRIORITY INTO bird_sightings;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1
(B(B

In [22]:
INSERT DELAYED INTO bird_sightings;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1
(B(B

In [23]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
birds_details
birds_new
conservation_status

# Chapter 7. Selecting Data p145

In [24]:
USE rookery;
SELECT * FROM birds;

bird_id,scientific_name,common_name,family_id,conservation_status_id,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,1,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,1,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,7,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,7,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,7,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,7,NULL,NULL,NULL,NULL

In [25]:
SELECT bird_id, scientific_name, common_name
FROM birds;

bird_id,scientific_name,common_name
1,Charadrius vociferus,Killdeer
2,Gavia immer,Great Northern Loon
3,Aix sponsa,Wood Duck
4,Chordeiles minor,Common Nighthawk
5,Sitta carolinensis,White-breasted Nuthatch
6,Apteryx mantelli,North Island Brown Kiwi

## Selecting by a Criteria p147

In [26]:
SELECT common_name, scientific_name
FROM birds WHERE family_id = 103
LIMIT 3;

## Ordering Results p148

In [27]:
SELECT common_name, scientific_name
FROM birds WHERE family_id = 103
ORDER BY common_name
LIMIT 3;

In [28]:
SELECT * FROM bird_families
WHERE scientific_name
IN('Charadriidae','Haematopodidae','Recurvirostridae','Scolopacidae');

family_id,scientific_name,brief_description,order_id,cornell_bird_order
102,Charadriidae,NULL,109,NULL

In [29]:
SELECT common_name, scientific_name, family_id
FROM birds
WHERE family_id IN(103, 160, 162, 164)
ORDER BY common_name
LIMIT 3;

In [30]:
SELECT common_name, scientific_name, family_id
FROM birds
WHERE family_id IN(103, 160, 162, 164)
AND common_name != ''
ORDER BY common_name
LIMIT 3;

## Limiting Results p151

In [31]:
SELECT common_name, scientific_name, family_id
FROM birds
WHERE family_id IN(103, 160, 162, 164)
AND common_name != ''
ORDER BY common_name
LIMIT 3, 2;

## Combining Tables

In [32]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family'
FROM birds, bird_families
WHERE birds.family_id = bird_families.family_id
AND order_id = 102
AND common_name != ''
ORDER BY common_name LIMIT 10;

In [33]:
SELECT common_name AS 'Bird',
families.scientific_name AS 'Family'
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND common_name != ''
ORDER BY common_name LIMIT 10;

In [34]:
SELECT common_name AS 'Bird',
families.scientific_name AS 'Family',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND families.order_id = 102
AND common_name != ''
ORDER BY common_name LIMIT 10, 5;

## Expressions and the Like pg 154

In [35]:
SELECT common_name AS 'Bird',
families.scientific_name AS 'Family',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND common_name LIKE 'Least%'
ORDER BY orders.scientific_name, families.scientific_name, common_name
LIMIT 10;

In [36]:
SELECT common_name AS 'Birds Great and Small'
FROM birds
WHERE common_name REGEXP 'Great|Least'
ORDER BY family_id LIMIT 10;

Birds Great and Small
Great Northern Loon

In [37]:
SELECT common_name AS 'Birds Great and Small'
FROM birds
WHERE common_name REGEXP 'Great|Least'
AND common_name NOT REGEXP 'Greater'
ORDER BY family_id LIMIT 10;

Birds Great and Small
Great Northern Loon

In [38]:
SELECT common_name AS 'Hawks'
FROM birds
WHERE common_name REGEXP BINARY 'Hawk'
AND common_name NOT REGEXP 'Hawk-Owl'
ORDER BY family_id LIMIT 10;

In [39]:
SHOW FULL COLUMNS
FROM birds LIKE 'common_name';

Field,Type,Collation,Null,Key,Default,Extra,Privileges,Comment
common_name,varchar(255),latin1_bin,YES,,NULL,,"select,insert,update,references",

In [40]:
SELECT common_name AS 'Hawks'
FROM birds
WHERE common_name REGEXP '[[:space:]]Hawk|[[.hyphen.]]Hawk'
AND common_name NOT REGEXP 'Hawk-Owl|Hawk Owl'
ORDER BY family_id;

Regex error 'POSIX collating elements are not supported at offset 17'
(B(B

## Counting and Grouping Results p158

In [41]:
SELECT COUNT(*) FROM birds;

COUNT(*)
6

In [43]:
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Number of Birds'
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND families.scientific_name = 'Pelecanidae';

Family,Number of Birds
NULL,0

In [44]:
SELECT orders.scientific_name AS 'Order',
families.scientific_name AS 'Family',
COUNT(*) AS 'Number of Birds'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes';

Order,Family,Number of Birds
Pelecaniformes,NULL,0

In [45]:
SELECT orders.scientific_name AS 'Order',
families.scientific_name AS 'Family',
COUNT(*) AS 'Number of Birds'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY Family;

## Chapter 8. Updating and Deleting Data p163

In [52]:
use birdwatchers;

In [53]:
show tables;

Tables_in_birdwatchers
humans
survey_answers
survey_questions
surveys

In [55]:
select * from humans;

human_id,formal_title,name_first,name_last,email_address
1,Mr.,Russell,Dyer,russell@mysqlresources.com
2,Mr.,Richard,Stringer,richard@mysqlresources.com
3,Ms.,Rusty,Osborne,rusty@mysqlresources.com
4,Ms.,Lexi,Hollar,alexandra@mysqlresources.com

In [56]:
UPDATE birdwatchers.humans
SET country_id = 'us';

Unknown column 'country_id' in 'field list'
(B(B

In [57]:
SELECT human_id, name_first, name_last
FROM humans
WHERE name_first = 'Rusty'
AND name_last = 'Osborne';

human_id,name_first,name_last
3,Rusty,Osborne

In [58]:
UPDATE humans
SET name_last = 'Johnson'
WHERE human_id = 3;
SELECT human_id, name_first, name_last
FROM humans
WHERE human_id = 3;

human_id,name_first,name_last
3,Rusty,Johnson

In [59]:
UPDATE humans
SET formal_title = 'Ms.'
WHERE human_id IN(24, 32);

In [61]:
SHOW FULL COLUMNS
FROM humans
LIKE 'formal_title';

Field,Type,Collation,Null,Key,Default,Extra,Privileges,Comment
formal_title,varchar(25),utf8mb4_general_ci,YES,,NULL,,"select,insert,update,references",

In [62]:
UPDATE humans
SET formal_title = 'Ms.'
WHERE formal_title IN('Miss','Mrs.');

In [63]:
ALTER TABLE humans
CHANGE COLUMN formal_title formal_title ENUM('Mr.','Ms.');

In [64]:
SHOW WARNINGS;

In [65]:
ALTER TABLE humans
CHANGE COLUMN formal_title formal_title ENUM('Mr.','Ms.','Mr','Ms');
UPDATE humans
SET formal_title = SUBSTRING(formal_title, 1, 2);
ALTER TABLE humans
CHANGE COLUMN formal_title formal_title ENUM('Mr','Ms');

## Limiting Updates p167

In [66]:
CREATE TABLE prize_winners
(winner_id INT AUTO_INCREMENT PRIMARY KEY,
human_id INT,
winner_date DATE,
prize_chosen VARCHAR(255),
prize_sent DATE);

In [67]:
INSERT INTO prize_winners
(human_id)
SELECT human_id
FROM humans;

## Ordering to Make a Difference p168

In [68]:
UPDATE prize_winners
SET winner_date = CURDATE()
WHERE winner_date IS NULL
ORDER BY RAND()
LIMIT 2;

## Updating Multiple Tables

In [70]:
UPDATE prize_winners, humans
SET winner_date = NULL,
prize_chosen = NULL,
prize_sent = NULL
WHERE country_id = 'uk'
AND prize_winners.human_id = humans.human_id;

Unknown column 'country_id' in 'where clause'
(B(B

In [71]:
UPDATE prize_winners, humans
SET winner_date = CURDATE()
WHERE winner_date IS NULL
AND country_id = 'uk'
AND prize_winners.human_id = humans.human_id
ORDER BY RAND()
LIMIT 2;

Unknown column 'country_id' in 'where clause'
(B(B

In [72]:
UPDATE prize_winners
SET winner_date = CURDATE()
WHERE winner_date IS NULL
AND human_id IN
(SELECT human_id
FROM humans
WHERE country_id = 'uk'
ORDER BY RAND())
LIMIT 2;

Unknown column 'country_id' in 'where clause'
(B(B

## Handling Duplicates p171

In [73]:
ALTER TABLE humans
ADD COLUMN better_birders_site TINYINT DEFAULT 0;

In [74]:
INSERT INTO humans
(formal_title, name_first, name_last, email_address, better_birders_site)
VALUES('Mr','Barry','Pilson', 'barry@gomail.com', 1),
('Ms','Lexi','Hollar', 'alexandra@mysqlresources.com', 1),
('Mr','Ricky','Adams', 'ricky@gomail.com', 1)
ON DUPLICATE KEY
UPDATE better_birders_site = 2;

In [75]:
INSERT INTO prize_winners
(human_id)
SELECT human_id
FROM humans
WHERE better_birders_site = 1;

In [76]:
ALTER TABLE humans
ADD COLUMN possible_duplicate TINYINT DEFAULT 0;
CREATE TEMPORARY TABLE possible_duplicates
(name_1 varchar(25), name_2 varchar(25));

In [77]:
INSERT INTO possible_duplicates
SELECT name_first, name_last
FROM
(SELECT name_first, name_last, COUNT(*) AS nbr_entries
FROM humans
GROUP BY name_first, name_last) AS derived_table
WHERE nbr_entries > 1;

In [78]:
UPDATE humans, possible_duplicates
SET possible_duplicate = 1
WHERE name_first = name_1
AND name_last = name_2;

## Deleting Data

In [79]:
DELETE FROM humans
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_address LIKE '%yahoo.com';

### Deleting in Multiple Tables p174

In [80]:
DELETE FROM humans, prize_winners
USING humans JOIN prize_winners
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_address LIKE '%yahoo.com'
AND humans.human_id = prize_winners.human_id;

# Chapter 9. Joining and Subquerying Data p178

### Unifying Results

In [86]:
use rookery;

In [87]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
birds_details
birds_new
conservation_status

In [88]:
SELECT 'Pelecanidae' AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND families.scientific_name = 'Pelecanidae'
UNION
SELECT 'Ardeidae',
COUNT(*)
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND families.scientific_name = 'Ardeidae';

Family,Species
Pelecanidae,0
Ardeidae,0

In [89]:
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*)
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id;

In [90]:
SELECT * FROM
(
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*), orders.scientific_name
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id ) AS derived_1
ORDER BY Family;

### Joining Tables p183

In [94]:
use test;

In [95]:
show tables;

Tables_in_test
books
status_names

In [96]:
SELECT book_id, title, status_name
FROM books JOIN status_names
WHERE status = status_id;

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The Catcher of the Rye,Inactive
102,My Antonia,Active

In [100]:
SELECT book_id, title, status_name
FROM books
JOIN status_names ON(status = status_id);

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The Catcher of the Rye,Inactive
102,My Antonia,Active

In [101]:
SELECT book_id, title, status_name
FROM books
JOIN status_names USING(status_id);

Unknown column 'status_name' in 'from clause'
(B(B

### Selecting a Basic Join p184

In [102]:
use rookery;

In [103]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
ON(birds.conservation_status_id = conservation_status.conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

In [104]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family', conservation_state AS 'Status'
FROM birds
JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(family_id)
WHERE conservation_category = 'Threatened'
AND common_name REGEXP 'Goose|Duck'
ORDER BY Status, Bird;

In [105]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family', conservation_state AS 'Status'
FROM birds, conservation_status, bird_families
WHERE birds.conservation_status_id = conservation_status.conservation_status_id
AND birds.family_id = bird_families.family_id
AND conservation_category = 'Threatened'
AND common_name REGEXP 'Goose|Duck'
ORDER BY Status, Bird;

In [106]:
SELECT common_name AS 'Bird from Anatidae',
conservation_state AS 'Conservation Status'
FROM birds
JOIN conservation_status AS states USING(conservation_status_id)
JOIN bird_families USING(family_id)
WHERE conservation_category = 'Threatened'
AND bird_families.scientific_name = 'Anatidae'
ORDER BY states.conservation_status_id DESC, common_name ASC;

In [107]:
SELECT CONCAT(name_first, ' ', name_last) AS Birder,
common_name AS Bird, location_gps AS 'Location of Sighting'
FROM birdwatchers.humans
JOIN birdwatchers.bird_sightings USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
ORDER BY Birder;

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

In [108]:
SELECT common_name AS 'Bird',
conservation_state AS 'Status'
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
WHERE common_name LIKE '%Egret%'
ORDER BY Status, Bird;

### Updating Joined Tables p187

In [109]:
SELECT common_name,
conservation_state
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(family_id)
WHERE bird_families.scientific_name = 'Ardeidae';

In [110]:
INSERT INTO conservation_status (conservation_state)
VALUES('Unknown');
SELECT LAST_INSERT_ID();

LAST_INSERT_ID()
9

In [111]:
UPDATE birds
LEFT JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(family_id)
SET birds.conservation_status_id = 9
WHERE bird_families.scientific_name = 'Ardeidae'
AND conservation_status.conservation_status_id IS NULL;

### Deleting Within Joined Tables p189

In [114]:
use birdwatchers;

In [115]:
DELETE FROM humans, prize_winners
USING humans JOIN prize_winners
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_address LIKE '%yahoo.com'
AND humans.human_id = prize_winners.human_id;

In [116]:
DELETE FROM humans, prize_winners
USING humans LEFT JOIN prize_winners
ON humans.human_id = prize_winners.human_id
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_address LIKE '%yahoo.com';

In [117]:
DELETE FROM prize_winners
USING humans RIGHT JOIN prize_winners
ON humans.human_id = prize_winners.human_id
WHERE humans.human_id IS NULL;

## Subqueries p191

### Scalar Subqueries

In [120]:
use rookery;

In [121]:
SELECT scientific_name AS Family
FROM bird_families
WHERE order_id =
(SELECT order_id
FROM bird_orders
WHERE scientific_name = 'Galliformes');

In [ ]:
use

In [123]:
UPDATE humans
SET membership_type = 'premium',
membership_expiration = DATE_ADD(IFNULL(membership_expiration,
CURDATE()), INTERVAL 1 YEAR)
WHERE human_id =
(SELECT human_id
FROM
(SELECT human_id, COUNT(*) AS sightings, join_date
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
GROUP BY human_id) AS derived_1
WHERE sightings > 5
ORDER BY join_date ASC
LIMIT 1);

Table 'rookery.humans' doesn't exist
(B(B

### Column Subqueries

In [124]:
SELECT * FROM
(SELECT common_name AS 'Bird',
families.scientific_name AS 'Family'
FROM birds
JOIN bird_families AS families USING(family_id)
JOIN bird_orders AS orders USING(order_id)
WHERE common_name != ''
AND families.scientific_name IN
(SELECT DISTINCT families.scientific_name AS 'Family'
FROM bird_families AS families
JOIN bird_orders AS orders USING(order_id)
WHERE orders.scientific_name = 'Galliformes'
ORDER BY Family)
ORDER BY RAND()) AS derived_1
GROUP BY (Family);

### Row Subqueries

In [125]:
INSERT INTO bird_sightings
(bird_id, human_id, time_seen, location_gps)
VALUES
(SELECT birds.bird_id, humans.human_id,
date_spotted, gps_coordinates
FROM
(SELECT personal_name, family_name, science_name, date_spotted,
CONCAT(latitude, '; ', longitude) AS gps_coordinates
FROM eastern_birders
JOIN eastern_birders_spottings USING(birder_id)
WHERE
(personal_name, family_name,
science_name, CONCAT(latitude, '; ', longitude) )
NOT IN
(SELECT name_first, name_last, scientific_name, location_gps
FROM humans
JOIN bird_sightings USING(human_id)
JOIN rookery.birds USING(bird_id) ) ) AS derived_1
JOIN humans
ON(personal_name = name_first
AND family_name = name_last)
JOIN rookery.birds
ON(scientific_name = science_name) );

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'SELECT birds.bird_id, humans.human_id,
date_spotted, gps_coordinates
FROM
(SE...' at line 4
(B(B

### Table Subqueries p196

In [126]:
SELECT family AS 'Bird Family',
COUNT(*) AS 'Number of Birds'
FROM
(SELECT families.scientific_name AS family
FROM birds
JOIN bird_families AS families USING(family_id)
WHERE families.scientific_name IN('Pelecanidae','Ardeidae')) AS derived_1
GROUP BY family;

# Part IV. Built-In Functions
# Chapter 10. String Functions p203

In [2]:
SELECT CONCAT(formal_title, '. ', name_first, SPACE(1), name_last) AS Birder,
CONCAT(common_name, ' - ', birds.scientific_name) AS Bird,
time_seen AS 'When Spotted'
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
GROUP BY human_id DESC
LIMIT 4;

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

In [3]:
SELECT CONCAT_WS('|', formal_title, name_first, name_last,
street_address, city, state_province, postal_code, country_id)
FROM birdwatchers.humans WHERE membership_type = 'premium'
AND membership_expiration > CURDATE();

Unknown column 'street_address' in 'field list'
(B(B

### Setting Case and Quotes

In [5]:
show databases;

Database
GRUPOS
birdwatchers
information_schema
mysql
performance_schema
rookery
sakila
test

In [7]:
use rookery;

In [8]:
SELECT LCASE(common_name) AS Species,
UCASE(bird_families.scientific_name) AS Family
FROM birds
JOIN bird_families USING(family_id)
WHERE common_name LIKE '%Wren%'
ORDER BY Species
LIMIT 5;

In [9]:
SELECT QUOTE(common_name)
FROM birds
WHERE common_name LIKE "%Prince%"
ORDER BY common_name;

### Trimming and Padding Strings

In [11]:
use birdwatchers;
UPDATE humans
SET name_first = LTRIM(name_first),
name_last = LTRIM(name_last);
UPDATE humans
SET name_first = RTRIM(name_first),
name_last = RTRIM(name_last);

In [12]:
UPDATE humans
SET name_first = LTRIM( RTRIM(name_last) ),
name_last = LTRIM( RTRIM(name_last) );

In [13]:
UPDATE humans
SET name_first = TRIM(name_first),
name_last = TRIM(name_last);

In [16]:
use rookery;
JOIN rookery.birds
ON(scientific_name = TRIM(BOTH '"' FROM science_name) ) ;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'JOIN rookery.birds
ON(scientific_name = TRIM(BOTH '"' FROM science_name) )' at line 1
(B(B

In [17]:
SELECT CONCAT(RPAD(common_name, 20, '.' ),
RPAD(Families.scientific_name, 15, '.'),
Orders.scientific_name) AS Birds
FROM birds
JOIN bird_families AS Families USING(family_id)
JOIN bird_orders AS Orders
WHERE common_name != ''
AND Orders.scientific_name = 'Ciconiiformes'
ORDER BY common_name LIMIT 3;

### Extracting Text p 209

In [28]:
use rookery;
SELECT prospect_name
FROM prospects LIMIT 4;

Table 'rookery.prospects' doesn't exist
(B(B

In [21]:
SELECT LEFT(prospect_name, 2) AS title,
MID(prospect_name, 5, 25) AS first_name,
RIGHT(prospect_name, 25) AS last_name
FROM prospects LIMIT 4;

Table 'birdwatchers.prospects' doesn't exist
(B(B

In [22]:
show databases;

Database
GRUPOS
birdwatchers
information_schema
mysql
performance_schema
rookery
sakila
test

In [29]:
SELECT SUBSTRING(prospect_name, 1, 2) AS title,
SUBSTRING(prospect_name FROM 5 FOR 25) AS first_name,
SUBSTRING(prospect_name, -25) AS last_name
FROM prospects LIMIT 3;

Table 'rookery.prospects' doesn't exist
(B(B

In [30]:
SELECT SUBSTRING_INDEX(prospect_name, '|', 1) AS title,
SUBSTRING_INDEX( SUBSTRING_INDEX(prospect_name, '|', 2), '|', -1) AS first_name,
SUBSTRING_INDEX(prospect_name, '|', -1) AS last_name
FROM prospects WHERE prospect_id = 7;

Table 'rookery.prospects' doesn't exist
(B(B

### Searching Strings and Using Lengths p212

In [31]:
SELECT common_name AS 'Avocet'
FROM birds
JOIN bird_families USING(family_id)
WHERE bird_families.scientific_name = 'Recurvirostridae'
AND birds.common_name LIKE '%Avocet%';

In [32]:
SELECT
SUBSTRING(common_name, 1, LOCATE(' Avocet', common_name) ) AS 'Avocet'
FROM birds
JOIN bird_families USING(family_id)
WHERE bird_families.scientific_name = 'Recurvirostridae'
AND birds.common_name LIKE '%Avocet%';

In [37]:
use birdwatchers;
SELECT human_id,
CONCAT(name_first, SPACE(1), name_last) AS Name,
join_date
FROM humans
WHERE country_id = 'ru'
ORDER BY join_date;

Unknown column 'join_date' in 'field list'
(B(B

In [38]:
SELECT FIND_IN_SET('Anahit Vanetsyan', Names) AS Position
FROM
(SELECT GROUP_CONCAT(Name ORDER BY join_date) AS Names
FROM
( SELECT CONCAT(name_first, SPACE(1), name_last) AS Name,
join_date
FROM humans
WHERE country_id = 'ru')
AS derived_1 )
AS derived_2;

Unknown column 'join_date' in 'field list'
(B(B

### String Lengths p214

In [39]:
SELECT IF(CHAR_LENGTH(comments) > 100), 'long', 'short')
FROM bird_sightings
WHERE sighting_id = 2;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '), 'long', 'short')
FROM bird_sightings
WHERE sighting_id = 2' at line 1
(B(B

In [40]:
SELECT sighting_id
FROM bird_sightings
WHERE CHARACTER_LENGTH(comments) != LENGTH(comments);

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

### Comparing and Searching Strings

In [41]:
CREATE TABLE possible_duplicate_email
(human_id INT,
email_address1 VARCHAR(255),
email_address2 VARCHAR(255),
entry_date datetime );

In [42]:
INSERT IGNORE INTO possible_duplicate_email
(human_id, email_address_1, email_address_2, entry_date)
VALUES(LAST_INSERT_ID(), 'bobyfischer@mymail.com', 'bobbyfischer@mymail.com')
WHERE ABS( STRCMP('bobbyrobin@mymail.com', 'bobyrobin@mymail.com') ) = 1 ;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'WHERE ABS( STRCMP('bobbyrobin@mymail.com', 'bobyrobin@mymail.com') ) = 1' at line 4
(B(B

In [49]:
use rookery;
CREATE FULLTEXT INDEX comment_index
ON bird_sightings (comments);

Table 'rookery.bird_sightings' doesn't exist
(B(B

In [50]:
SELECT CONCAT(name_first, SPACE(1), name_last) AS Name,
common_name AS Bird,
SUBSTRING(comments, 1, 25) AS Comments
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
WHERE MATCH (comments) AGAINST ('beautiful');

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

In [51]:
SELECT INSERT(common_name, 6, 0, ' (i.e., Smallest)')
AS 'Smallest Birds'
FROM birds
WHERE common_name LIKE 'Least %' LIMIT 1;

In [52]:
SELECT common_name AS Original,
INSERT(common_name, LOCATE('Gt.', common_name), 3, 'Great') AS Adjusted
FROM birds
WHERE common_name REGEXP 'Gt.' LIMIT 1;

In [53]:
UPDATE birds
SET common_name = INSERT(common_name, LOCATE('Gt.', common_name), 3, 'Great')
WHERE common_name REGEXP 'Gt.';

In [54]:
SELECT common_name AS Original,
REPLACE(common_name, 'Gt.', 'Great') AS Replaced
FROM birds
WHERE common_name REGEXP 'Gt.' LIMIT 1;

In [55]:
UPDATE birds
SET common_name = REPLACE(common_name, 'Gt.', 'Great');

## Converting String Types p219

In [58]:
use rookery;
SELECT sorting_id, bird_name, bird_image
FROM bird_images
ORDER BY sorting_id
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [59]:
SELECT sorting_id, bird_name, bird_image
FROM bird_images ORDER BY CAST(sorting_id AS INT) LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [60]:
SELECT bird_name, gender_age, bird_image
FROM bird_images
WHERE bird_name LIKE '%Plover%'
ORDER BY gender_age
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [61]:
SHOW COLUMNS FROM bird_images LIKE 'gender_age';

Table 'rookery.bird_images' doesn't exist
(B(B

In [62]:
SELECT bird_name, gender_age, bird_image
FROM bird_images
WHERE bird_name LIKE '%Plover%'
ORDER BY CONVERT(gender_age, CHAR)
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [63]:
SELECT bird_name, gender_age, bird_image
FROM bird_images
WHERE bird_name LIKE '%Plover%'
ORDER BY CONVERT(gender_age USING utf8)
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

### Compressing Strings p221

In [66]:
use birdwatchers;
INSERT INTO humans
(formal_title, name_first, name_last, join_date, birding_background)
VALUES('Ms', 'Melissa', 'Lee', CURDATE(), COMPRESS("lengthy background…"));

Unknown column 'join_date' in 'field list'
(B(B

In [65]:
SELECT birding_background AS Background
FROM humans
WHERE name_first = 'Melissa' AND name_last = 'Lee';

Unknown column 'birding_background' in 'field list'
(B(B

# Chapter 15. Bulk Importing Data p335

In [1]:
CREATE TABLE rookery.clements_list_import
(id INT, change_type VARCHAR(255),
col2 CHAR(0), col3 CHAR(0),
scientific_name VARCHAR(255),
english_name VARCHAR(255),
col6 CHAR(0), `order` VARCHAR(255),
family VARCHAR(255),
col9 CHAR(0), col10 CHAR(0),
col11 CHAR(0), col12 CHAR(0),
col13 CHAR(0), col14 CHAR(0),
col15 CHAR(0), col16 CHAR(0), col17 CHAR(0));

### Loading Data Basics p339

In [3]:
SELECT * FROM rookery.clements_list_import LIMIT 2;

In [4]:
SELECT id, change_type,
scientific_name, english_name,
`order`, family
FROM rookery.clements_list_import
WHERE change_type = 'new species' LIMIT 2;

In [5]:
DELETE FROM rookery.clements_list_import;
LOAD DATA INFILE '/tmp/Clements-Checklist-6.9-final.csv'
INTO TABLE rookery.clements_list_import
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES;

Can't get stat of '/tmp/Clements-Checklist-6.9-final.csv' (Errcode: 2 "No such file or directory")
(B(B

In [6]:
SELECT id, change_type,
scientific_name, english_name,
`order`, family
FROM rookery.clements_list_import
WHERE change_type = 'new species' LIMIT 2;

### Selecting Imported Data

In [8]:
CREATE TABLE rookery.birds_news
LIKE rookery.birds;

In [15]:
use rookery;
INSERT INTO birds_new
(scientific_name, common_name, family_id)
SELECT clements.scientific_name, english_name, bird_families.family_id
FROM clements_list_import AS clements
JOIN bird_families
ON bird_families.scientific_name =
SUBSTRING(family, 1, LOCATE(' (', family) )
WHERE change_type = 'new species';

In [14]:
SELECT birds_new.scientific_name,
common_name, family_id,
bird_families.scientific_name AS family
FROM birds_new
JOIN bird_families USING(family_id);

### Better Loading p344

In [16]:
DROP TABLE rookery.clements_list_import;
CREATE TABLE rookery.clements_list_import
(id INT, scientific_name VARCHAR(255),
english_name VARCHAR(255), family VARCHAR(255),
bird_order VARCHAR(255), change_type VARCHAR(255));

In [18]:
LOAD DATA INFILE '/tmp/Clements-Checklist-6.9-final.csv'
INTO TABLE rookery.clements_list_import
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES
(id, change_type, @niente, @niente,
scientific_name, english_name,
@niente, bird_order, family, @niente,
@niente, @niente, @niente, @niente,
@niente, @niente, @niente, @niente);

Can't get stat of '/tmp/Clements-Checklist-6.9-final.csv' (Errcode: 2 "No such file or directory")
(B(B

In [17]:
SELECT * FROM rookery.clements_list_import
WHERE change_type='new species'
ORDER BY id DESC LIMIT 2;

### Setting Columns p345

In [21]:
DELETE FROM rookery.clements_list_import;
LOAD DATA INFILE '/tmp/Clements-Checklist-6.9-final.csv'
INTO TABLE rookery.clements_list_import
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES
(id, change_type, @niente, @niente,
scientific_name, english_name,
@niente, bird_order, @family, @niente,
@niente, @niente, @niente, @niente,
@niente, @niente, @niente, @niente, @niente)
SET family = SUBSTRING(@family, 1, LOCATE(' (', @family) );

Can't get stat of '/tmp/Clements-Checklist-6.9-final.csv' (Errcode: 2 "No such file or directory")
(B(B

In [22]:
SELECT * FROM rookery.clements_list_import
WHERE change_type='new species'
AND english_name LIKE '%Treehunter%';

### More Field and Line Definitions p347

In [23]:
CREATE TABLE birdwatchers.birdwatcher_prospects_import
(prospect_id INT AUTO_INCREMENT KEY,
prospect_name VARCHAR(255),
prospect_email VARCHAR(255) UNIQUE,
prospect_country VARCHAR(255));

In [24]:
LOAD DATA INFILE '/tmp/birdwatcher-prospects.csv'
INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\r\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 "No such file or directory")
(B(B

### Replacing Data Versus Ignoring Errors

In [25]:
LOAD DATA INFILE '/tmp/birdwatcher-prospects.csv'
IGNORE INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\r\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 "No such file or directory")
(B(B

In [26]:
SHOW WARNINGS;

Level,Code,Message
Error,13,"Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 ""No such file or directory"")"

In [28]:
SELECT * FROM birdwatchers.birdwatcher_prospects_import
WHERE prospect_name LIKE '%Sveta%';

In [29]:
LOAD DATA INFILE '/tmp/birdwatcher-prospects.csv'
REPLACE INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 "No such file or directory")
(B(B

In [30]:
SELECT * FROM birdwatchers.birdwatcher_prospects_import
WHERE prospect_name LIKE '%Sveta%';

## Importing from Outside MySQL p350

In [31]:
LOAD DATA LOCAL INFILE '/tmp/birdwatcher-prospects.csv'
REPLACE INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

### Bulk Exporting Data p353

In [32]:
SELECT birds.scientific_name,
IFNULL(common_name, ''),
bird_families.scientific_name
FROM rookery.birds
JOIN rookery.bird_families USING(family_id)
JOIN rookery.bird_orders USING(order_id)
WHERE bird_orders.scientific_name = 'Charadriiformes'
ORDER BY common_name;

In [33]:
SELECT 'scientific name','common name','family name';

scientific name,common name,family name
scientific name,common name,family name

In [34]:
( SELECT 'scientific name','common name','family name' )
UNION
( SELECT birds.scientific_name,
IFNULL(common_name, ''),
bird_families.scientific_name
FROM rookery.birds
JOIN rookery.bird_families USING(family_id)
JOIN rookery.bird_orders USING(order_id)
WHERE bird_orders.scientific_name = 'Charadriiformes'
ORDER BY common_name
INTO OUTFILE '/tmp/birds-list.csv'
FIELDS ENCLOSED BY '"' TERMINATED BY '|' ESCAPED BY '\\'
LINES TERMINATED BY '\n');

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'INTO OUTFILE '/tmp/birds-list.csv'
FIELDS ENCLOSED BY '"' TERMINATED BY '|' E...' at line 11
(B(B

# Chapter 16. Application Programming Interfaces p358

In [35]:
CREATE USER 'public_api'@'localhost'
IDENTIFIED BY 'pwd_123';
GRANT SELECT
ON rookery.*
TO 'public_api'@'localhost';
GRANT SELECT
ON birdwatchers.*
TO 'public_api'@'localhost';

In [36]:
CREATE USER 'admin_members'@'localhost'
IDENTIFIED BY 'doc_killdeer_123';
GRANT SELECT, UPDATE, DELETE
ON birdwatchers.*
TO 'admin_members'@'localhost';